<a href="https://colab.research.google.com/github/AstroQuanta/QCLASS-23-24/blob/QBook101/Appendices/QB_A3_Python12_Basics_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://qworld.net" target="_blank" align="left"><img src="https://gitlab.com/qworld/qeducation/qbook101/raw/main/qworld/images/header.jpg" align="left"></a>
$ \newcommand{\bra}[1]{\langle #1|} $
$ \newcommand{\ket}[1]{|#1\rangle} $
$ \newcommand{\braket}[2]{\langle #1|#2\rangle} $
$ \newcommand{\dot}[2]{ #1 \cdot #2} $
$ \newcommand{\biginner}[2]{\left\langle #1,#2\right\rangle} $
$ \newcommand{\mymatrix}[2]{\left( \begin{array}{#1} #2\end{array} \right)} $
$ \newcommand{\myvector}[1]{\mymatrix{c}{#1}} $
$ \newcommand{\myrvector}[1]{\mymatrix{r}{#1}} $
$ \newcommand{\mypar}[1]{\left( #1 \right)} $
$ \newcommand{\mybigpar}[1]{ \Big( #1 \Big)} $
$ \newcommand{\sqrttwo}{\frac{1}{\sqrt{2}}} $
$ \newcommand{\dsqrttwo}{\dfrac{1}{\sqrt{2}}} $
$ \newcommand{\onehalf}{\frac{1}{2}} $
$ \newcommand{\donehalf}{\dfrac{1}{2}} $
$ \newcommand{\hadamard}{ \mymatrix{rr}{ \sqrttwo & \sqrttwo \\ \sqrttwo & -\sqrttwo }} $
$ \newcommand{\vzero}{\myvector{1\\0}} $
$ \newcommand{\vone}{\myvector{0\\1}} $
$ \newcommand{\stateplus}{\myvector{ \sqrttwo \\  \sqrttwo } } $
$ \newcommand{\stateminus}{ \myrvector{ \sqrttwo \\ -\sqrttwo } } $
$ \newcommand{\myarray}[2]{ \begin{array}{#1}#2\end{array}} $
$ \newcommand{\X}{ \mymatrix{cc}{0 & 1 \\ 1 & 0}  } $
$ \newcommand{\I}{ \mymatrix{rr}{1 & 0 \\ 0 & 1}  } $
$ \newcommand{\Z}{ \mymatrix{rr}{1 & 0 \\ 0 & -1}  } $
$ \newcommand{\Htwo}{ \mymatrix{rrrr}{ \frac{1}{2} & \frac{1}{2} & \frac{1}{2} & \frac{1}{2} \\ \frac{1}{2} & -\frac{1}{2} & \frac{1}{2} & -\frac{1}{2} \\ \frac{1}{2} & \frac{1}{2} & -\frac{1}{2} & -\frac{1}{2} \\ \frac{1}{2} & -\frac{1}{2} & -\frac{1}{2} & \frac{1}{2} } } $
$ \newcommand{\CNOT}{ \mymatrix{cccc}{1 & 0 & 0 & 0 \\ 0 & 1 & 0 & 0 \\ 0 & 0 & 0 & 1 \\ 0 & 0 & 1 & 0} } $
$ \newcommand{\norm}[1]{ \left\lVert #1 \right\rVert } $
$ \newcommand{\pstate}[1]{ \lceil \mspace{-1mu} #1 \mspace{-1.5mu} \rfloor } $
$ \newcommand{\greenbit}[1] {\mathbf{{\color{green}#1}}} $
$ \newcommand{\bluebit}[1] {\mathbf{{\color{blue}#1}}} $
$ \newcommand{\redbit}[1] {\mathbf{{\color{red}#1}}} $
$ \newcommand{\brownbit}[1] {\mathbf{{\color{brown}#1}}} $
$ \newcommand{\blackbit}[1] {\mathbf{{\color{black}#1}}} $

_prepared by Abuzer Yakaryilmaz_

<font size="28px" style="font-size:28px;" align="left"><b> Basics of Python: Loops </b></font>
<br><br>

##### <font color="#08b806">Please execute the following cell, it is necessary to distinguish between your local environment and Google Colab's

In [1]:
import IPython

def in_colab():
    try:
        import google.colab
        return True
    except:
        return False

SolutionToTask1 = lambda: IPython.display.display(IPython.display.Javascript('window.open("{url}");'.format(url='https://colab.research.google.com/drive/14iMrRXkOt8qWnhj2Ux99RqCDUQOaO56K?usp=sharing#scrollTo=-TdICF5gRr_b' if in_colab() else 'QB_A3_Python12_Basics_Loops_Solutions.ipynb#task1')))
SolutionToTask2 = lambda: IPython.display.display(IPython.display.Javascript('window.open("{url}");'.format(url='https://colab.research.google.com/drive/14iMrRXkOt8qWnhj2Ux99RqCDUQOaO56K?usp=sharing#scrollTo=eYG4QcUDRr_c' if in_colab() else 'QB_A3_Python12_Basics_Loops_Solutions.ipynb#task2')))
SolutionToTask3 = lambda: IPython.display.display(IPython.display.Javascript('window.open("{url}");'.format(url='https://colab.research.google.com/drive/14iMrRXkOt8qWnhj2Ux99RqCDUQOaO56K?usp=sharing#scrollTo=PB5Jy-H-Rr_c' if in_colab() else 'QB_A3_Python12_Basics_Loops_Solutions.ipynb#task3')))
SolutionToTask4 = lambda: IPython.display.display(IPython.display.Javascript('window.open("{url}");'.format(url='https://colab.research.google.com/drive/14iMrRXkOt8qWnhj2Ux99RqCDUQOaO56K?usp=sharing#scrollTo=hRc4FoIsRr_d' if in_colab() else 'QB_A3_Python12_Basics_Loops_Solutions.ipynb#task4')))
SolutionToTask5 = lambda: IPython.display.display(IPython.display.Javascript('window.open("{url}");'.format(url='https://colab.research.google.com/drive/14iMrRXkOt8qWnhj2Ux99RqCDUQOaO56K?usp=sharing#scrollTo=AFpSNaziRr_d' if in_colab() else 'QB_A3_Python12_Basics_Loops_Solutions.ipynb#task5')))

##### We review using loops in Python here.

Run each cell and check the results.

<h3> For-loop </h3>

In [2]:
# let's print all numbers between 0 and 9
for i in range(10): print(i)
# range(n) represents the list of all numbers from 0 to n-1
# i is the variable to take the values in the range(n) iteratively: 0,1,...,9 in our example

0
1
2
3
4
5
6
7
8
9

In [3]:
# let's write the same code in two lines
for i in range(10): # do not forget to use colon
    print(i)
    # the second line is indented
    # this means that the command in the second line will be executed inside the for-loop
    # any other code executed inside the for-loop must be intented in the same way
    #my_code_inside_for-loop_2 will come here
    #my_code_inside_for-loop_3 will come here
    #my_code_inside_for-loop_4 will come here
# now I am out of the scope of for-loop
#my_code_outside_for-loop_1 will come here
#my_code_outside_for-loop_2 will come here

0
1
2
3
4
5
6
7
8
9

In [4]:
# let's calculate the summation 1+2+...+10 by using a for-loop

# we use variable total for the total summation
total = 0
for i in range(11): # do not forget to use colon
    total = total + i # the value of total is increased by i in each iteration
    # alternatively, the same assignment can shortly be written as total += i similarly to the languages C, C++, Java, etc.
# now I am out of the scope of for-loop
# let's print the final value of total
print(total)

55

In [5]:
# let's calculate the summation 10+12+14+...+44
# we create a list having all numbers in the summation
# for this purpose, this time we will use three parameters in range
total = 0
for j in range(10,45,2): # the range is defined between 10 and 44, and the value of j will be increased by 2 after each iteration
    total += j # let's use the shortened version of total = total + j this time
print(total)

486

In [6]:
# let's calculate the summation 1+2+4+8+16+...+256
# remark that 256 = 2*2*...*2 (8 times)
total = 0
current_number = 1 # this value will be multiplied by 2 after each iteration
for k in range(9):
    total = total + current_number # current_number is 1 at the beginning, and its value will be doubled after each iteration
    current_number = 2 * current_number # let's double the value of the current_number for the next iteration
    # short version of the same assignment: current_number *= 2 as in the languages C, C++, Java, etc.
# now I am out of the scope of for-loop
# let's print the latest value of total
print(total)

511

In [7]:
# instead of range, we may also directly use a list if it is short
for i in [1,10,100,1000,10000]:
    print(i)

1
10
100
1000
10000

In [8]:
# instead of [...], we may also use (...)
# but this time it is a tuple, not a list (keep in your mind that the values in a tuple cannot be changed)
for i in (1,10,100,1000,10000):
    print(i)

1
10
100
1000
10000

In [9]:
# let's create a range between 10 and 91 that contains the multiples of 7
for j in range(14,92,7):
    # 14 is the first multiple of 7 greater than or equal to 10; so we should start with 14
    # 91 should be in the range, and so we end the range with 92
    print(j)

14
21
28
35
42
49
56
63
70
77
84
91

In [10]:
# let's create a range between 11 and 22
for i in range(11,23):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22

In [11]:
# we can also use variables in range
n = 5
for j in range(n,2*n):
    print(j) # we will print all numbers in {n,n+1,n+2,...,2n-1}

5
6
7
8
9

In [12]:
# we can use a list of strings
for name in ("Asja","Balvis","Fyodor"):
    print("Hello",name,":-)")

Hello Asja :-)
Hello Balvis :-)
Hello Fyodor :-)

In [13]:
# any range indeed returns a list
L1 = list(range(10))
print(L1)

L2 = list(range(55,200,11))
print(L2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[55, 66, 77, 88, 99, 110, 121, 132, 143, 154, 165, 176, 187, 198]

<h3> Task 1 </h3>

Calculate the value of summation $ 3+6+9+\cdots+51 $, and then print the result.

Your result should be 459.

In [15]:
#
# your solution is here
#
total1 = 0
total2 = 0

for i in range(3,52,3):
    total1 = total1 + i
    total2 += i # shorter form

print("The summation is",total1)
print("The summation is",total2)

The summation is 459
The summation is 459

To check out our solution, run the next cell:

In [14]:
SolutionToTask1()  # show solution for task 1

<h3> Task 2 </h3>

$ 3^k $ means $ 3 \cdot 3 \cdot \cdots \cdot 3 $ ($ k $ times) for $ k \geq 2 $.

Moreover, $ 3^0  $ is 1 and $ 3^1 = 3 $.

Calculate the value of summation $ 3^0 + 3^1 + 3^2 + \cdots + 3^8 $, and then print the result.

Your result should be 9841.

In [17]:
#
# your solution is here
#
# Python has also exponent operator: **
# we can also directly use it

T = 0

for i in range(9):
    print("3 to",i,"is",3**i)
    T = T + 3 ** i

print("summation is",T)

3 to 0 is 1
3 to 1 is 3
3 to 2 is 9
3 to 3 is 27
3 to 4 is 81
3 to 5 is 243
3 to 6 is 729
3 to 7 is 2187
3 to 8 is 6561
summation is 9841

To check out our solution, run the next cell:

In [ ]:
SolutionToTask2()  # show solution for task 2

<h3> While-loop </h3>

In [18]:
# let's calculate the summation 1+2+4+8+...+256 by using a while-loop
total = 0
i = 1

#while condition(s):
#    your_code1
#    your_code2
#    your_code3
while i < 257: # this loop iterates as long as i is less than 257
    total = total + i
    i = i * 2 # i is doubled in each iteration, and so soon it will be greater than 256

print(total)
# we do the same summation by using for-loop above

511

In [19]:
L = [0,1,2,3,4,5,11] # this is a list containing 7 integer values
i = 0
while i in L: # this loop will be iterated as long as i is in L
    print(i)
    i = i + 1 # the value of i iteratively increased, and so soon it will hit a value not in the list L

# the loop is terminated after i is set to 6, because 6 is not in L

0
1
2
3
4
5

In [20]:
# let's use negation in the condition of while-loop
L = [10] # this list has a single element
i = 0
while i not in L: # this loop will be iterated as long as i is not equal to 10
    print(i)
    i = i+1 # the value of i will hit 10 after ten iterations

0
1
2
3
4
5
6
7
8
9

In [21]:
# let's rewrite the same loop by using a direct inequality
i = 0
while i != 10: # "!=" is used for operator "not equal to"
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [22]:
# let's rewrite the same loop by using negation of equality
i = 0
while not (i == 10): # "==" is used for operator "equal to"
    print(i)
    i=i+1

# while-loop seems having more fun :-)
# but we should be more careful when writing the condition(s)!

0
1
2
3
4
5
6
7
8
9

Consider the summation $ S(n) =  1+ 2+ 3 + \cdots + n $ for some natural number $ n $.

Let's find the minimum value of $ n $ such that $ S(n) \geq 1000 $.

While-loop works very well for this task.
<ul>
    <li>We can iteratively increase $ n $ and update the value of $ S(n) $.</li>
    <li>The loop iterates as long as $S(n)$ is less than 1000.</li>
    <li>Once it hits 1000 or a greater number, the loop will be terminated.</li>
</ul>

In [23]:
# summation and n are zeros at the beginning
S = 0
n = 0
while S < 1000: # this loop will stop after S exceeds 999 (S = 1000 or S > 1000)
    n = n +1
    S = S + n
# let's print n and S
print("n =",n," S =",S)

n = 45  S = 1035

<h3> Task 3 </h3>

Consider the summation $ T(n) = 1 + \dfrac{1}{2} + \dfrac{1}{4}+ \dfrac{1}{8} + \cdots + \dfrac{1}{2^n} $ for some natural number $ n $.

Remark that $ T(0) = \dfrac{1}{2^0} = \dfrac{1}{1} = 1 $.

This summation can be arbitrarily close to $2$.

Find the minimum value of $ n $ such that $ T(n) $ is close to $2$ by $ 0.01 $, i.e., $ 2 - T(n) < 0.01 $.

In other words, we find the minimum value of $n$ such that $ T(n) > 1.99 $.

The operator for "less than or equal to" in python is "$ < = $".

In [25]:
# three examples for the operator "less than or equal to"
#print (4 <= 5)
#print (5 <= 5)
#print (6 <= 5)
# you may comment out the above three lines and see the results by running this cell

#
# your solution is here
#
T = 0
n = 2  # this value iteratively will be first halved and then added to the summation T
number_of_iteration = 1
number_of_terms = 0

while T<=1.99:
    n = n/2 # half the value of n
    print("Iteration =",number_of_iteration,"and n =",n)
    T = T + n # update the value of T
    print(" T =",T)
    print(" Is T less than or equal to 1.99? -",(T<=1.99))
    number_of_terms = number_of_terms + 1
    number_of_iteration +=1
    print()

print()
print("The number of terms in the summation:",number_of_terms)

Iteration = 1 and n = 1.0
 T = 1.0
 Is T less than or equal to 1.99? - True

Iteration = 2 and n = 0.5
 T = 1.5
 Is T less than or equal to 1.99? - True

Iteration = 3 and n = 0.25
 T = 1.75
 Is T less than or equal to 1.99? - True

Iteration = 4 and n = 0.125
 T = 1.875
 Is T less than or equal to 1.99? - True

Iteration = 5 and n = 0.0625
 T = 1.9375
 Is T less than or equal to 1.99? - True

Iteration = 6 and n = 0.03125
 T = 1.96875
 Is T less than or equal to 1.99? - True

Iteration = 7 and n = 0.015625
 T = 1.984375
 Is T less than or equal to 1.99? - True

Iteration = 8 and n = 0.0078125
 T = 1.9921875
 Is T less than or equal to 1.99? - False


The number of terms in the summation: 8

To check out our solution, run the next cell:

In [ ]:
SolutionToTask3()  # show solution for task 3

<h3> Task 4 </h3>

Randomly pick number(s) between 0 and 9 until hitting 3, and then print the number of attempt(s).

We can use <i>randrange</i> function from <i>random</i> module for randomly picking a number in the given range.

In [26]:
# this is the code for including function randrange into our program
from random import randrange
# randrange(n) picks a number from the list [0,1,2,...,n-1] randomly
#r = randrange(100)
#print(r)

#
# your solution is here
#
from random import randrange

r = 0
attempt = 0

while r != 3: # the loop iterates as long as r is not equal to 3
    r = randrange(10) # randomly pick a number from {0,1,...,9}
    attempt = attempt + 1 # increase the number of attempts by 1
    print (attempt,"->",r) # print the number of attempt and the randomly picked number

print("total number of attempt(s) is",attempt)

1 -> 6
2 -> 3
total number of attempt(s) is 2

To check out our solution, run the next cell:

In [ ]:
SolutionToTask4()  # show solution for task 4

<h3> Task 5 </h3>

This task is challenging .

It is designed for the usage of double nested loops: one loop inside of the other loop.

In the fourth task above, the expected number of attempt(s) to hit number 3 is 10.

Do a series of experiments by using your solution for Task 4.

Experiment 1: Execute your solution 20 times, and then calculate the average attempts.

Experiment 2: Execute your solution 200 times, and then calculate the average attempts.

Experiment 3: Execute your solution 2000 times, and then calculate the average attempts.

Experiment 4: Execute your solution 20000 times, and then calculate the average attempts.

Experiment 5: Execute your solution 200000 times, and then calculate the average attempts.

<i>Your experimental average should get closer to 10 when the number of executions is increased.</i>

Remark that all five experiments may also be automatically done by using triple loops.

In [27]:
# be aware of single and double indentions

number_of_execution = 20 # change this with 20, 200, 2000, 20000, 200000 and reexecute this cell
total_attempts = 0

from random import randrange

for i in range(number_of_execution): # the outer loop iterates number_of_execution times
    r = 0
    attempt = 0
    while r != 3: # the while-loop iterates as long as r is not equal to 3
        r = randrange(10) # randomly pick a number
        attempt = attempt + 1 # increase the number of attempts by 1
    # I am out of scope of while-loop
    total_attempts = total_attempts + attempt # update the total number of attempts

# I am out of scope of for-loop
print("After",number_of_execution,"executions, the average is",total_attempts/number_of_execution)

After 20 executions, the average is 9.2

In [28]:
# let's use triple nested loops
for number_of_execution in [20,200,2000,20000,200000]: # we will use the same code by indenting all lines by one more level
    total_attempts = 0
    for i in range(number_of_execution): # the middle loop iterates number_of_execution times
        r = 0
        attempt = 0
        while r != 3: # the while-loop iterates as long as r is not equal to 3
            r = randrange(10) # randomly pick a number
            attempt = attempt + 1 # increase the number of attempts by 1
        # I am out of scope of while-loop
        total_attempts = total_attempts + attempt # update the total number of attempts
    # I am out of scope of for-loop
    print("After",number_of_execution,"executions, the average is",total_attempts/number_of_execution)

# you may include 2 million to the list, but you should WAIT for a while to see the result
# Can your computer compete with exponential growth?
# if you think "yes",  try 20 million, 200 million, and so on

After 20 executions, the average is 6.25
After 200 executions, the average is 10.4
After 2000 executions, the average is 9.7715
After 20000 executions, the average is 9.85985
After 200000 executions, the average is 9.96694

To check out our solution, run the next cell:

In [ ]:
SolutionToTask5()  # show solution for task 5

In [ ]:
# here is a schematic example for double nested loops
#for i in range(10):
#    your_code1
#    your_code2
#    while j != 7:
#        your_code_3
#        your_code_4

#
# your solution is here
#